body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0px;
    height: 100vh;
}
ul {
    list-style: none;
    padding:0px;
    display:flex;
    flex-direction: row;
    gap:20px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
img {
    object-fit: cover;
    height:100%;
    width: 100%;
}
.header {
    background-color: #1F2937;
    flex-grow:0.25;
    display: flex;
    flex-direction:column;
    padding-left:16%;
    padding-right:16%;
}
.upper {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.lower {
    padding-bottom:10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 50px;
}
.lower-main {
    font-size: 48px;
    font-weight:800;
    color: #F9FAF8;
    margin:0px;
}
.lower-secondary {
    font-size:18px;
    color:#E5E7EB;
    display: flex;
    flex-grow: 3;
}
.lower-button {
    background-color: #3882F6;
    border: solid;
    border-radius:5px;
    border-color: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 35px;
}
.lower-left {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    height: 300px;
}
.lower-right {
    align-self: center;
    height: 300px;
    width:800px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.part1 {
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap: 50px;
    padding-top:50px;
    padding-bottom: 100px;
}
.part1-text {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}
.part1-cards {
    display: flex;
    flex-direction: row;
    gap:50px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}
.imagediv {
    height:200px;
    width: 200px;
    border:solid;
    border-radius: 10px;
    border-width: 4px;
    border-color:#3882F6;
}
.part2 {
    flex-grow:1;
    background-color: #E5E7EB;
    padding-left: 20%;
    padding-right: 20%;
    padding-top:100px;
    padding-bottom: 100px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    color: #1F2937;
}
.author {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}
.part3 {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding:50px 10%;
    color: #F9FAF8;
}
.buttonsur {
    flex-grow:1;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom: 50px;
    gap: 50px;
}
.buttonsurrleft {
    display:flex;
    flex-direction: column;
    justify-content: start;
}
.part3button {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    border-color: #F9FAF8;
    border-style:solid;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
}
.t1 {
    font-weight: bold;
    font-size:24px;
    padding: 0px;
    margin:0px;
}
.t2 {
    padding: 0px;
    margin:0px;
}
.footer {
    flex-grow:0.25;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top:30px;
    padding-bottom:30px;
}